#info
    {
      text-align:justify;
      color:rgb(143, 141, 141);
    }

    #show_hide{display:none;} 
    #show_hide1{display:none;}
    #show_hide2{display:none;}
    #show_hide3{display:none;}
    #show_hide4{display:none;}
    #show_hide5{display:none;}
    #show_hide6{display:none;}
    #show_hide7{display:none;}
    #show_hide8{display:none;}
    #show_hide9{display:none;}
    #show_hide10{display:none;}
    #show_hide11{display:none;}
    #show_hide12{display:none;}
    #show_hide13{display:none;}


    hr{ border:1px solid lightgray; }
    #tab_scrollbar        /*harsha changes*/
    
    #tab_scrollbar    /*harsha changes*/
    {
      overflow-y: scroll; 
      overflow-x:hidden;
      position: relative;
      overflow: auto;     
      /*max-width:auto;
       min-width:50%; */
      /* padding-right:20px; */
      /* overflow:scroll; */
      /* border:1px solid green; */
    }             /* end of harsha changes*/

    /* html{overflow: hidden;} */
     /* html{overflow: hidden;}  */
    .click{ /*clickable row in tabs*/
    cursor:pointer;
    }
    .fa.fa-check{color:rgb(23, 218, 23);} /* check icon in tables in tabs*/
    .form-check-input{height: 15px; width:15px;}/* checkbox on modal*/
    .form-group.required .control-label:after { 
                color: #d00;
                content: "*";
                position: absolute;
               }
    .f1_label{/*labels on product_detail*/
        text-align:right ;
       
    }
    .order_label{/*labels on order_detail*/
      text-align: right;
     
  }
  .body-font{font-size: 1.2vw}
    .pd_input {/*input text on product_detail*/
        border: 0;
        background-color: transparent;
        padding-left: 30px;
        /* margin: 3px; */
    }
    .invoice_input{
      border: 0;
      background-color: transparent;
      padding-left: 30px;
      /* text-overflow: ellipsis;  */
      /* white-space: nowrap;} */}
      .order_input{
        border: 0;
        background-color: transparent;
        padding-left: 5px;
        /* text-overflow: ellipsis;  */
        /* white-space: nowrap;} */}
        .order{ 
          float: right;
          /* width: 100%; */
        }
    
    #Pd_subheading{ /* on product_detail*/
      margin-left:2.4%;
      font-size: large;
     
    } 
    .order_subheading{
      margin-left:2.4%;
      font-size: large;
      /* padding-top: 8px; */
    }       
          
      /* Toggle switch Button komal*/
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;
  margin-left: 20%;
  padding-bottom:10px;

}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 2px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 24px;
}

.slider.round:before {
  border-radius: 40%;
}
.togglebtn
{
    display:inline-flex;
  
}/* End of Toggle switch button*/    
#permission i
{
  font-size: 14px;
  color: gray;
}
 #output_image
{

    width:100%;
    height: 200px;
    background-position: center center;
    background-size: cover;
    -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, .1);
    display: inline-block;
    /* margin-left: 32px; */
}
#imgip
{
  margin-top: 10px;
  margin-bottom: 15px; 
  /* margin-left: 32px;   */
}

 .dropdown-content{ 
   min-width: 100px;
 } 
  /* #ellipsis li{  //ellipsis on breacrumb
  white-space: nowrap; 
   width: 7em; 
  overflow: hidden;
  text-overflow: ellipsis; 
 }
 #ellipsis li:hover{
  overflow: visible; 
  white-space: normal;
  height:auto;  
}*/

 #breadcrumb{
  background-color:#e9ecef; 
  /* margin-left:0.12rem;  */
  /* margin-right:0.12rem; */
  margin-bottom:0.50rem;
  /* border-radius: 0.35rem; */
 }
 /*.alert{
  display: none;
 }*/
 #delete-alert{display: none;}
 #success-alert{display: none;}

 
#subheading{
  font-size: large;
}

/* laxmi for right side alignment on sales order */
 .rightspace{
	padding-left:2px;
	padding-right:2px;
}

.rightdata{
  font-size: medium;
  color: green;
}

.rightdata1{
  font-size: medium;
}
/* laxmi end of right side alignment on sales order */

/* laxmi for card header left side alignment on sales order */
#cardheader{
  background-color:white;
}

/* laxmi for card header left side dropdown alignment on sales order */
#carddrop{
  padding-right:70px;
}

/* laxmi for customer msg alignment on sales order */
#msg{
  padding-left:15px;
}
#msg1{
resize: none; 
border:none;
}

/* laxmi for right side spacing alignment on sales order */
#leftspace{
  padding-left:0;
  }

.right1space{
  margin-bottom:10px;
}